:root {
  --primary-color: rgb(4, 17, 29);
  --secondary-color: rgba(4, 17, 29, 0.8);
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.navigation {
  max-height: 72px;
  width: 100%;
  padding-left: 16px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 11px rgb(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  z-index: 1;
  margin: 0;
}
.nav__logo a {
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--primary-color);
}
.navigation .brand-name {
  font-weight: 800;
  margin-left: 10px;
  font-size: 22px;
  opacity: 1;
  letter-spacing: 0.2;
  font-family: "Outfit", sans-serif;
}
.nav__logo img {
  width: 40px;
  height: 40px;
}
.nav__search input[type="text"] {
  margin: auto 0;
  width: 100%;
  min-height: 45px;
  padding: 12px;
  padding-left: 49px;
  outline: none;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 1px rgb(0, 0, 0, 0.2);
  font-size: 15.5px;
  font-weight: 500;
  letter-spacing: 0.3;
}
.input {
  position: relative;
  opacity: 0.7;
}
.nav__search input[type="text"]:focus {
  box-shadow: 0 0 11px rgb(0, 0, 0, 0.3);
}
.searchIcon {
  position: absolute;
  top: 30%;
  left: 16px;
  opacity: 0.6;
}
.nav__dropdown > ul {
  display: flex;
  padding-left: 0;
  padding-right: 20px;
  height: 100%;
  margin: 0 20px 0 -20px;
}
.dropdown {
  list-style-type: none;
  position: absolute;
}
.dropdown a {
  display: block;
  color: var(--secondary-color);
  padding: 24px 20px 18px 20px;
  font-size: 15.5px;
  opacity: 0.85;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.2s ease-in;
  height: 100%;
}
.navigation a:not(a:firthchild()) {
  color: var(--secondary-color);
}
.nav__profile i {
  color: var(--secondary-color);
  line-height: 57px;
  font-size: 28px;
  list-style-type: none;
  transition: color 0.2s ease;
}
.nav__profile i:hover {
  color: var(--primary-color);
}
a:-webkit-any-link {
  text-decoration: none;
}
.profile__user,
.profile__wallet {
  text-align: center;
  cursor: pointer;
  padding: 8px;
  padding-left: 20px;
}
.navigation a:hover {
  color: var(--primary-color);
}
.nav__dropdown > ul > li {
  position: relative;
}
.subtitle,
.user--dropdown {
  visibility: hidden;
  list-style-type: none;
  position: absolute;
  top: 99%;
  padding-left: 0;
  box-shadow: 0 3px 10px rgb(0, 0, 0, 0.2);
  transition: visibility 0.1s ease 0.15s;
}
.subtitle a {
  color: var(--primary-color);
  background-color: #fff;
  width: 100%;
  min-width: 220px;
  padding-left: 20px;
  height: 56px;
  display: flex;
  align-items: center;
  transition: background-color 0.5s ease;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.display {
  visibility: visible;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.Resources__subtitle a {
  width: 230px;
}
.subtitle li:not(:last-child),
.user--dropdown {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.subtitle a:hover,
.user--dropdown a:hover {
  background-color: #fbfdff;
  box-shadow: 0 0px 15px rgb(0, 0, 0, 0.3);
}
.subtitle a img {
  width: 24px;
  height: 24px;
  margin-right: 6px;
}
.resources__social a {
  display: flex;
  cursor: default;
  justify-content: space-between;
  align-items: center;
  font-size: 23px;
}
.resources__social a i {
  opacity: 0.55;
  cursor: pointer;
}
.resources__social a i:hover {
  opacity: 0.8;
}
.nav__dropdown li:hover .subtitle li:last-child > a:last-of-type,
.user--dropdown li:last-child a:last-of-type {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.profile__user {
  position: relative;
}
.user--dropdown {
  list-style-type: none;
  position: absolute;
  right: -5%;
  top: 77%;
  width: 370%;
}
.user--dropdown li a {
  display: flex;
  background-color: #fff;
  font-size: 15.5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 20px;
  align-items: center;
  color: var(--primary-color);
  font-weight: bold;
  opacity: 0.9;
  font-size: 15.5px;
}
.user--dropdown li a i {
  font-size: 22px;
  padding-right: 20px;
}
.profile__user:hover .user--dropdown {
  visibility: visible;
}
